/*--------------------
General stuff
--------------------*/
.container {
  color: #222;
}

hr {
  color: #222;
  background-color: #222;
}

a:hover {
  color: #3f3f3f;
}

::selection {
  background: #e1483d;
  background: rgba(225, 72, 61, 0.7);
  color: #e0e0e0;
}

::-moz-selection {
  background: #e1483d;
  background: rgba(225, 72, 61, 0.7);
  color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background-color: #e1483d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c54046;
}

/*--------------------
Welcome title
--------------------*/
.title {
  color: #e1483d;
}

/*--------------------
Content page
--------------------*/
.content-wrapper h1 {
  color: #e1483d;
}

a.back::before {
  border-color: #222;
}

a.back:after {
  border-color: #222;
}

a.back:hover::after {
  border-color: #e1483d;
}

a.back:hover::before {
  border-color: #e1483d;
}