body {
  color: #222;
}

::selection {
  background: #e1483d;
  background: rgba(225, 72, 61, 0.7);
}

::-moz-selection {
  background: #e1483d;
  background: rgba(225, 72, 61, 0.7);
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #e1483d;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e1484f;
}

/*--------------------
Welcome title
--------------------*/
.title {
  color: #e1483d;
}

/*--------------------
Content page
--------------------*/
.content-wrapper h1 {
  color: #e1483d;
}

a.back::before {
		border-color: #222;
	}

a.back:after {
		border-color: #222;
	}

a.back:hover::after {
		border-color: #e1483d;
	}

a.back:hover::before {
		border-color: #e1483d;
	}
