body {
  color: #222;
}

::selection {
  background: #e1483d;
  background: rgba(225, 72, 61, 0.7);
}

::-moz-selection {
  background: #e1483d;
  background: rgba(225, 72, 61, 0.7);
}

/*--------------------
Welcome title
--------------------*/
.title {
  color: #e1483d;
}

/*--------------------
Content page
--------------------*/
.content-wrapper h1 {
  color: #e1483d;
}
