/*--------------------
General stuff
--------------------*/
body {
  color: #c98276;
  background-color: #eec1ad;
}

hr {
  color: #c98276;
  background-color: #c98276;
}

a:hover {
  color: #d89b90;
}

::selection {
  background: #e35d6a;
  background: rgba(227, 93, 106, 0.7);
}

::-moz-selection {
  background: #e35d6a;
  background: rgba(227, 93, 106, 0.7);
}

::-webkit-scrollbar-thumb {
  background-color: #e35d6a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d45671;
}

/*--------------------
Welcome title
--------------------*/
.title {
  color: #e35d6a;
}

/*--------------------
Content page
--------------------*/
.content-wrapper h1 {
  color: #e35d6a;
}

a.back::before {
  border-color: #c98276;
}

a.back:after {
  border-color: #c98276;
}

a.back:hover::after {
  border-color: #e35d6a;
}

a.back:hover::before {
  border-color: #e35d6a;
}