body {
  color: #c98276;
  background-color: #eec1ad;
}

hr {
  border: 0;
  height: 1px;
  color: #c98276;
  background-color: #c98276;
}

::selection {
  background: #e35d6a;
  background: rgba(227, 93, 106, 0.7);
}

::-moz-selection {
  background: #e35d6a;
  background: rgba(227, 93, 106, 0.7);
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #e35d6a;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e35d7b;
}

/*--------------------
Welcome title
--------------------*/
.title {
  color: #e35d6a;
}

/*--------------------
Content page
--------------------*/
.content-wrapper h1 {
  color: #e35d6a;
}

a.back::before {
		border-color: #fafafa;
	}

a.back:after {
		border-color: #fafafa;
	}

a.back:hover::after {
		border-color: #e35d6a;
	}

a.back:hover::before {
		border-color: #e35d6a;
	}
