body {
  color: #be9b7b;
  background-color: #fff4e6;
}

::selection {
  background: #854442;
  background: rgba(133, 68, 66, 0.7);
}

::-moz-selection {
  background: #854442;
  background: rgba(133, 68, 66, 0.7);
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #854442;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #854454;
}

/*--------------------
Welcome title
--------------------*/
.title {
  color: #854442;
}

/*--------------------
Content page
--------------------*/
.content-wrapper h1 {
  color: #854442;
}

a.back::before {
		border-color: #fafafa;
	}

a.back:after {
		border-color: #fafafa;
	}

a.back:hover::after {
		border-color: #854442;
	}

a.back:hover::before {
		border-color: #854442;
	}
