/*--------------------
General stuff
--------------------*/
body {
  color: #be9b7b;
  background-color: #fff4e6;
}

hr {
  color: #be9b7b;
  background-color: #be9b7b;
}

::selection {
  background: #854442;
  background: rgba(133, 68, 66, 0.7);
}

::-moz-selection {
  background: #854442;
  background: rgba(133, 68, 66, 0.7);
}

::-webkit-scrollbar-thumb {
  background-color: #854442;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #864353;
}

/*--------------------
Welcome title
--------------------*/
.title {
  color: #854442;
}

/*--------------------
Content page
--------------------*/
.content-wrapper h1 {
  color: #854442;
}

a.back::before {
  border-color: #be9b7b;
}

a.back:after {
  border-color: #be9b7b;
}

a.back:hover::after {
  border-color: #854442;
}

a.back:hover::before {
  border-color: #854442;
}