/*--------------------
Content page
--------------------*/
.content-wrapper {
  position: absolute;
  left: 0;
  padding: 7vw;
}

img.pg {
  position: relative;
  width: 100%;
  height: 30vw;
  -o-object-fit: cover;
  object-fit: cover;
}

img.profile {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
}

.column {
  padding: 10px 2%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1vw;

  &.left {
    flex-basis: 50%;
    text-align: center;
    text-transform: uppercase;
  }

  &.right {
    text-align: justify;
  }
}

.row {
  display: flex;
  display: flexbox;
  padding: 2vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-wrapper h1 {
  font-family: adobe-garamond-pro;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

div.socials {
  font-weight: bold;
  text-transform: lowercase;
}