body {
  cursor: default;
  -webkit-user-select: text;
  -webkit-touch-callout: text;
  font-family: Lato;
  font-size: 14px;
  font-size: 0.73vw;
  color: #c98276;
  background-color: #eec1ad;
  margin: 0;
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  /* Firefox */
  -webkit-animation: fadein 1.5s;
  /* Safari and Chrome */
  -o-animation: fadein 1.5s;
  /* Opera */
}

::selection {
    background: #e35d6a;
    background: rgba(227, 93, 106, 0.7);
}

::-moz-selection {
    background: #e35d6a;
    background: rgba(227, 93, 106, 0.7);
}

/*--------------------
Welcome title
--------------------*/
.title {
  font-family: adobe-garamond-pro;
  font-size: 120px;
  font-size: 6.25vw;
  color: #e35d6a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 1;
}

/*--------------------
Nav aka footer
--------------------*/
.allmighty {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.allmighty a {
  text-decoration: none;
  color: inherit;
}

.allmighty p {
  margin: 0;
}

noscript {
  position: absolute;
  opacity: 0;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

img.ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  object-fit: cover;
  opacity: 0;
  z-index: -1;
}

img.ttl2 {
  opacity: 1;
}

.allmighty:hover~.title,
.allmighty:focus~.title {
  opacity: 0;
}

.allmighty:hover~noscript,
.allmighty:focus~noscript {
  opacity: 1;
}

.allmighty a#wth p span {
  content: "BRU?";
}

.allmighty a:hover p span,
.allmighty a:focus p span {
  display: none;
}

.allmighty a#wth:hover p:after,
.allmighty a#wth:focus p:after {
  text-decoration: line-through;
  content: 'LEARN MORE';
}

/*--------------------
Content page
--------------------*/
.content-wrapper {
  position: absolute;
  left: 0;
  padding: 7vw;
}

img.pg {
  position: relative;
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

img.profile {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
}

.column {
  float: left;
  padding: 10px 2%;
  box-sizing: border-box;
  font-size: 1vw;
}

.left {
    width: 17%;
    text-align: center;
    text-transform: uppercase;
}

.right {
    width: 83%;
    text-align: left;
}

.row {
  padding: 2vw;
  box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content-wrapper h1 {
  font-family: adobe-garamond-pro;
  color: #e35d6a;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

/*--------------------
Magic fade
--------------------*/
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

/*--------------------
Responsiveness
--------------------*/
@media only screen and (max-width: 1400px) {

  html,
  body {
    font-size: 12px;
    font-size: 1vw;
  }

  .title {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 1000px) {

  html,
  body {
    font-size: 1.5vw;
  }

  .title {
    font-size: 7.5vw;
  }
}

@media only screen and (max-width: 700px) {

  html,
  body {
    font-size: 2vw;
  }

  .title {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 550px) {

  html,
  body {
    font-size: 2.5vw;
  }

  .title {
    font-size: 9vw;
  }
}

@media only screen and (max-width: 400px) {

  html,
  body {
    font-size: 3.5vw;
  }

  .title {
    font-size: 10.5vw;
  }
}
