/*--------------------
General stuff
--------------------*/
body {
    cursor: default;
    -webkit-user-select: text;
    -webkit-touch-callout: text;
    font-family: Lato;
    font-size: 14px;
    font-size: 0.73vw;
    margin: 0;
    display: none;
}

hr {
    border: 0;
    height: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }

@import 'f-page';
@import 'content_page';
@import 'back_arrow';
@import 'responsiveness';