/*--------------------
General stuff
--------------------*/
html,
body {
  cursor: default;
  -webkit-user-select: text;
  -webkit-touch-callout: text;
  font-family: Lato;
  font-size: 14px;
  font-size: 0.73vw;
  margin: 0;
  height: 100%;
}

.container {
  display: none;
  -webkit-animation: BackgroundAnimation 25s ease infinite;
  -moz-animation: BackgroundAnimation 25s ease infinite;
  -o-animation: BackgroundAnimation 25s ease infinite;
  animation: BackgroundAnimation 25s ease infinite;
}

hr {
  border: 0;
  height: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

/*--------------------
Background animation
--------------------*/
@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 2%
  }

  50% {
    background-position: 100% 99%
  }

  100% {
    background-position: 0% 2%
  }
}

@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 2%
  }

  50% {
    background-position: 100% 99%
  }

  100% {
    background-position: 0% 2%
  }
}

@-o-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 2%
  }

  50% {
    background-position: 100% 99%
  }

  100% {
    background-position: 0% 2%
  }
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 2%
  }

  50% {
    background-position: 100% 99%
  }

  100% {
    background-position: 0% 2%
  }
}

@import 'f-page';
@import 'content_page';
@import 'back_arrow';
@import 'responsiveness';